body, th, td, input, select {
	font-family	: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size	: small;
}
#resultsDisplay.hide {
	display		: none;	
}
#resultsDisplay.show {
	display		: block;	
}

#resultsTable {
    width: 100%;
	background-color: #CDCDCD;
}

#resultsTable thead tr th {
    padding: 4px 20px 4px 4px;
	border: 1px solid #FFFFFF;
}

#resultsTable thead tr .header {
    background-image	: url("images/bg.gif");
    background-position	: right center;
    background-repeat	: no-repeat;
    cursor				: pointer;
}
#resultsTable tbody td {
    padding				: 4px;
    vertical-align		: top;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}

#resultsTable thead tr .headerSortUp {
    background-image	: url("images/asc.gif");
}
#resultsTable thead tr .headerSortDown {
    background-image	: url("images/desc.gif");
}
#resultsTable thead tr .headerSortDown, #resultsTable thead tr .headerSortUp {
    background-color	: darkgray;
}

.clickable {
	cursor				: pointer;
}

.filterable {
	cursor				: url(images/icon_filter.gif), auto;
}

#resultsTable a:link {text-decoration:none;}
#resultsTable a:visited {text-decoration:none;}
#resultsTable a:hover {text-decoration:underline;}
#resultsTable a:active {text-decoration:underline;}

.bugDescription {
	height	: 20em;
	overflow:scroll;
	border: 1px solid black;
}

.wait {
	cursor: wait;
}
