<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<heliconZoo>
			<application name="railo.project">
			<environmentVariables>
			</environmentVariables>
			</application>
		</heliconZoo>
		<handlers>
			<remove name="coldfusion" />
			<add name="railo.project#x64.cfm" scriptProcessor="railo.4" path="*.cfm" verb="*" modules="HeliconZoo_x64" preCondition="bitness64" resourceType="Unspecified" requireAccess="Script" />
			<add name="railo.project#x64.cfc" scriptProcessor="railo.4" path="*.cfc" verb="*" modules="HeliconZoo_x64" preCondition="bitness64" resourceType="Unspecified" requireAccess="Script" />
			<add name="railo.project#x64.cfml" scriptProcessor="railo.4" path="*.cfml" verb="*" modules="HeliconZoo_x64" preCondition="bitness64" resourceType="Unspecified" requireAccess="Script" />
			<add name="railo.project#x64.cfr" scriptProcessor="railo.4" path="*.cfr" verb="*" modules="HeliconZoo_x64" preCondition="bitness64" resourceType="Unspecified" requireAccess="Script" />
			<add name="railo.project#x64.cfswf" scriptProcessor="railo.4" path="*.cfswf" verb="*" modules="HeliconZoo_x64" preCondition="bitness64" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
	</system.webServer>
</configuration>	