{# master.html.twig #}

This is in the master<br>

{% block staticDetail %}
Default detail content set in master twig<br>
{% endblock %}
<hr>

<h2>Dynamic detail block</h2>
{% block dynamicDetail %}
Dynamic value from controller: {{ dynamicValue }}<br>
{% endblock %}
<hr>

<h2>SubMaster</h2>
{{ render(path(
	"route.submaster", {
		"valueForSubMaster": valueForSubMasterFromController
	}
)) }}