<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName>scratch-helloworld.local</ServerName><LauncherName></LauncherName><ExternalBrowser></ExternalBrowser><UseStartPage>false</UseStartPage><StartPage useextension="false" ></StartPage><Mappings><Mapping-Name>logs</Mapping-Name><Location>C:\apps\adobe\ColdFusion\10\scratch\logs</Location><ResolveCFC>true</ResolveCFC><Mapping-Name>coldboxReferenceFiles</Mapping-Name><Location>D:\webapps\cfbugsubscriber\coldboxReferenceFiles</Location><ResolveCFC>true</ResolveCFC></Mappings><VariableMappings></VariableMappings><DictionaryVersion>ColdFusion10</DictionaryVersion><CFCMappings></CFCMappings></ResourceDetails>