{# doc.html.twig #}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Default title{% endblock %}</title>
    {% block css %}{% endblock %}
</head>
<body>
	{% block layout %}Default layout{% endblock %}
</body>
</html>