{# layout.html.twig #}
{% extends "deep/doc.html.twig" %}
{% block layout %}
<div id="header">{% block header %}Default header{% endblock %}</div>
<div id="content">{% block content %}Default content{% endblock %}</div>
<div id="footer">{% block footer %}Default footer{% endblock %}</div>
{% endblock %}