* {
	font-size:1em;
	font-family:"Lucida Sans Unicode","Arial Unicode MS",Arial,sans-serif !important;
}

.label {
	font-weight:normal !important;
	padding-top:3px;
}

.cell-centered {
	text-align:center !important;
}

.cell-nowrap {
	white-space:nowrap;
}

.object-description-demo {
	padding-bottom:10px;
}

.object-description-demo .demo-group {
	margin-top:-6px;
}

.demo-group {
	float:right;
}

.demo {
	text-decoration:none !important;
	margin-left:5px;
}

.attribute-values {
	color:#550077;
}

#topbar .navbar-inner {
	background-color:#004A61 !important;
	/* reset */
	background-image:none !important;
}

#topbar ul.nav li a {
	color:#9AD7EA !important;
}

#topbar ul.nav li a:hover {
	color:#fff !important;
}

#topbar ul.nav li.active a {
	background-color:#013C4F !important;
	color:#fff !important;
}

.dropdown-menu {
	background-color:#004A61 !important;
}

.dropdown-menu .divider {
	border-width: 0px !important;
}

#container-index .row>div {
	margin-bottom:20px;
}

.modal {
	overflow:hidden !important;
}

.modal-body {
	max-height:520px !important;
	padding:5px 15px !important;
	height:520px;
}

.modal-header h3 {
	text-transform:uppercase;
}

#console {
	border:1px inset #999;
	padding:5px;
	margin-bottom:10px;
	overflow:scroll;
	font-size:9px;
}

.page-header h1 {
	letter-spacing:-1px !important;
}

.page-header-object {
	padding-bottom:5px;
}

.page-header-object .support {
	float:left;
	text-align:center;
	padding-top:3px;
	padding-left:6px;
}

.page-header-object h3 {
	float:left;
	padding-left:4px;
}

.hero-unit {
	padding:50px !important;
}

.hero-unit h1 {
	letter-spacing:-2px !important;
	margin-bottom:5px !important;
}

#demo {
	margin-bottom:10px;
}

#demo-chart {
	float:left;
	width:480px;
	height:400px;
}

#demo-info {
	float:left;
	margin-left:10px;
	width:320px;
	height:400px;
}

#demo-json, #demo-javascript {
	padding:5px;
	font-size:10px;
	width:310px;
	height:362px;
	white-space:pre;
	line-height:130%;
	overflow-x:auto;
	overflow-y:auto;
}

#demo-json b, #demo-javascript b {
	font-weight:normal;
	color:#000;
	background-color:#E2EA98;
}

.zc-html-mode {
	z-index:9999;
}

#toc {
	display:none;
	overflow-x:hidden;
	overflow-y:auto;
	padding:8px 0;
	position:fixed;
	top:50px;
	right:40px;
}

.well-inverse {
	font-size:1.5em;
	font-weight:bold;
	text-transform:uppercase;
}

.nav-list .nav-header {
	font-size:15px;
	color:#333;
	padding-top:10px;
	margin-top:10px;
	border-top:1px dotted #999;
}

.nav-tabs {
	margin-bottom:0px;
}

.tab-content {
	border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
}

.tutorial-chart {
	margin:10px 0px;
}

.module-group {
	margin-left:10px;
	margin-bottom:10px;
}

.module-option {
	float:left;
	width:180px;
	margin:2px 10px;
	padding:2px 10px 0px;
}

#toc-header {
	color:#333;
	font-size:21px;
	font-weight:bold;
	text-transform:uppercase;
}

#demo-html {
	padding:2px;
}

#demo-html .btn {
	margin:2px;
}

#demo-html .btn-danger {
	float:right;
}

#json-tree ul li {
	line-height:1.8em;
	list-style:none !important;
}

#json-tree ul li.l1 {
	margin-left:30px;
}

#json-tree ul li.l2 {
	margin-left:60px;
}

#json-tree ul li.l3 {
	margin-left:90px;
}

#json-tree ul li.l4 {
	margin-left:120px;
}

#json-tree ul li.l5 {
	margin-left:150px;
}

#json-tree ul li.l6 {
	margin-left:180px;
}