USE [master]
GO
/****** Object:  Database [BeerTracker]    Script Date: 10/11/2016 3:40:12 PM ******/
CREATE DATABASE [BeerTracker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BeerTracker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER2K8R2\MSSQL\DATA\BeerTracker.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BeerTracker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER2K8R2\MSSQL\DATA\BeerTracker_log.ldf' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BeerTracker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BeerTracker]
GO
/****** Object:  User [cfusion]    Script Date: 10/11/2016 3:40:12 PM ******/
CREATE USER [cfusion] FOR LOGIN [cfusion] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [cfusion]
GO
ALTER ROLE [db_datareader] ADD MEMBER [cfusion]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [cfusion]
GO
/****** Object:  Table [dbo].[Beer]    Script Date: 10/11/2016 3:40:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[breweryId] [int] NULL,
	[name] [nvarchar](100) NULL,
	[type] [nvarchar](100) NULL,
	[abv] [decimal](10, 2) NULL,
	[ibu] [tinyint] NULL,
	[brewery_name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Beer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Brewery]    Script Date: 10/11/2016 3:40:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brewery](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[country] [nvarchar](100) NULL,
	[city] [nvarchar](100) NULL,
	[state] [nvarchar](100) NULL,
 CONSTRAINT [PK_Brewery] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_Beer_breweryId]    Script Date: 10/11/2016 3:40:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Beer_breweryId] ON [dbo].[Beer]
(
	[breweryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Brewery_UNQ_Name]    Script Date: 10/11/2016 3:40:12 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Brewery_UNQ_Name] ON [dbo].[Brewery]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
